/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/support/database.yml
/.byebug_history

# rspec failure tracking
.rspec_status

# stupid editor tricks
*~
\#*
*\.gem